<div class="container mt-5">
  <h1><%= @cocktail.name %></h1>
  <div class="mt-5 mb-5">
    <p>
      <% if @cocktail.photo.present? %>
        <p> <%= cl_image_tag @cocktail.photo.url(:large_photo)%></p>
      <% else %>
        <p><%= image_tag("default_cocktail.jpg", class: "cocktail-pic-detail") %></p>
      <% end %>

      <h4>Ingredients:</h4>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.description %> of <%= dose.ingredient.name %> <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} do %><i class="fas fa-trash-alt"></i>
        <% end %>
        </li>
      <% end %>
    </p>
  </div>

  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %><br><br>
  <%= link_to 'Back', cocktails_path, class: 'btn btn-dark' %>
</div>

